<!DOCTYPE html>
<html>
  {{- partial "head.html" . -}}
  <body style="background-color: #fafafa">
    <div>
      {{- partial "header.html" . -}}
      <div class="row">
        <div class="col-2">
          {{- partial "sider.html" . -}}
        </div>
        <div class="col-8">
          {{- partial "breadcrumb.html" . -}}
          {{- block "main" . }}
          {{- end }}
        </div>
        <div class="col-2">
        </div>
      </div>
      {{- partial "footer.html" . -}}
    </div>
  </body>
</html>

<style>
  * {
    border-radius: 0 !important;
  }
</style>