<div id="header"></div>

<script type="text/babel">
const { Layout, Menu } = antd;
const { Header } = Layout;
const styles = {
  lineHeight: '64px'
};
ReactDOM.render(
  <Layout className="layout">
    <Header>
      <div className="logo" />
      <Menu
        theme="dark"
        mode="horizontal"
        style={styles}
      >
        {{ $BaseURL := .Site.BaseURL }} 
        {{ range $key, $value := .Site.Menus }}
          <Menu.Item key="{{ $key }}">
            <a href="{{ $BaseURL }}/{{ $key }}">{{ $key }}</a>
          </Menu.Item>
        {{ end }}
      </Menu>
    </Header>
  </Layout>,
  document.getElementById('header'));
</script>