<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="{{ .Site.BaseURL }}/css/antd.min.css" />
  <script src="{{ .Site.BaseURL }}/js/react.production.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/react-dom.production.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/babel.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/moment.min.js"></script>
  <script src="{{ .Site.BaseURL }}/js/antd.min.js"></script>
  <title>
    {{ block "title" . }} 
      {{ .Site.Title }} - {{ .Page.Title }} 
    {{ end }}
  </title>
</head>