<!DOCTYPE html>
<html>
{{- partial "head.html" . -}}

<body>
  {{- partial "header.html" . -}}
  <main>
    <span>柳随风的个人网站</span>
    <span>博客</span>
    <span>云原生，容器，devops，go语言</span>
  </main>
  {{- partial "footer.html" . -}}
  {{ template "_internal/google_analytics_async.html" . }}
</body>

</html>

<style type="text/css">
  body {
    background: black;
  }

  main {
    width: 100%;
    min-height: 550px;
    margin: 80px auto;
    display: flex;
    flex-flow: column;
  }

  main span {
    padding-top: 2em;
    display: block;
    color: white;
    text-align: center;
    font-size: 2.4rem;
  }
</style>